

.pokemon-list-container{
    height: 660px;
    overflow: auto;
    margin-top: 15px;
}



.pokemon-list li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0;

    .pokemon-sprite{
        width: 96px;
        height: 96px;
    }

    p{
        padding: 0;
        margin:0;
    }

    &:hover{
        cursor: pointer;
        background-color: #f0f0f0;
    }
}