<div class="container" style="max-width: 900px">
  <div *ngIf="!currentPokemon">
    <img
      src="../../../assets/pokemon_logo.jpg"
      class="pokemon-logo"
      alt="Pokémon Logo"
    />
    <!-- pagination controls -->
    <div class="mt-4 mb-4 d-flex justify-content-between align-items-center">
      <button
        class="btn btn-warning"
        (click)="previousPage()"
        [disabled]="currentPage === 1"
      >
        <i class="bi bi-arrow-left"></i>
      </button>
      <span style="font-weight: bolder">GEN {{ currentPage }}</span>
      <button class="btn btn-warning" (click)="nextPage()">
        <i class="bi bi-arrow-right"></i>
      </button>
    </div>

    <!-- filters -->
    <form
      [formGroup]="filterForm"
      class="mb-3 d-flex justify-content-between align-items-center"
    >
      <input
        type="text"
        class="form-control w-50"
        formControlName="search"
        placeholder="Filter by name"
      />

      <select class="form-select" formControlName="type" style="width: 35%">
        <option value="all">All Types</option>
        <option *ngFor="let type of pokemonTypes" [value]="type.name">
          {{ type.name }}
        </option>
      </select>
    </form>

    <!-- list -->
    <div class="pokemos-list-container">
      <ul class="pokemos-list list-group mt-3">
        <li
          (click)="handlePokemonDetails(pokemon)"
          class="list-group-item"
          *ngFor="let pokemon of filteredPokemons"
        >
          <div class="d-flex gap-4 align-items-center">
            <div class="pokemon-sprite">
              <img [src]="pokemonSpriteDefault(pokemon.url)" />
            </div>
            <p>
              <span>#{{ extractPokemonId(pokemon.url) }}</span
              ><br />
              <span>{{ pokemon.name | titlecase }}</span>
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div
    *ngIf="currentPokemon"
    class="header-details-nav d-flex align-items-center justify-content-between"
  >
    <button (click)="cleanCurrentPokemon()" class="button-back">
      <i class="bi bi-arrow-left"></i>
    </button>
    <img src="../../../assets/icon-pokeball.png" class="pokeball-icon" />
  </div>

  <app-pokemon-details
    *ngIf="currentPokemon"
    [currentPokemon]="currentPokemon"
  ></app-pokemon-details>
</div>
