<div class="container pokemon-container">
  <div [ngClass]="'circle type-' + currentPokemonMainType"></div>

  <div class="pokemon-official-art">
    <img [src]="currentPokemonOfficialArt" alt="" />
  </div>

  <div class="pokemon-details">
    <h1 style="font-weight: bolder" class="mt-3 mb-0">
      <span> N.{{ currentPokemonId | idFormat }} </span>
      <span>
        {{ currentPokemon?.name | uppercase }}
      </span>
    </h1>

    <ul class="pokemon-types">
      <li
        *ngFor="let type of currentPokemonTypes"
        [ngClass]="'type type-' + type.type.name"
      >
        {{ type.type.name | titlecase }}
      </li>
    </ul>

    <p class="mb-5">{{ currentPokemonDescription }}</p>

    <div class="row">
      <div class="col-6">
        <h6 [ngClass]="'type-' + currentPokemonMainType">Height</h6>
        <p>{{ currentPokemonHeight / 10 }}m</p>
      </div>
      <div class="col-6">
        <h6 [ngClass]="'type-' + currentPokemonMainType">Weight</h6>
        <p>{{ currentPokemonWeight / 10 }}kg</p>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <h6 [ngClass]="'type-' + currentPokemonMainType">Main Type</h6>
        <p>{{ currentPokemonMainType | titlecase }}</p>
      </div>
      <div class="col-6">
        <h6 [ngClass]="'type-' + currentPokemonMainType">Main Ability</h6>
        <p>{{ currentPokemonMainAbility | titlecase }}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <button
          (click)="playAudio()"
          [ngClass]="'mt-4 btn-play type-' + currentPokemonMainType"
          style="color: #fff"
        >
          <i class="bi bi-play"></i>
          Play Cry
        </button>
      </div>
    </div>
  </div>
</div>
