


.pokemon-logo{
    display: block;
    position: relative;
    margin: 30px auto;
}

.pokemon-officcial-art{
    display: block;
    width: 240px;
    margin: 0 auto;
}

.button-back{
    background: none;
    border: none;
    font-size: 32px;
}